- Data Set Information:

This data set consists of three types of entities: 
    (a) the specification of an auto in terms of various characteristics, 
    (b) its assigned insurance risk rating, 
    (c) its normalized losses in use as compared to other cars. 
    The second rating corresponds to the degree to which the auto is more 
    risky than its price indicates. Cars are initially assigned a risk 
    factor symbol associated with its price. 
    Then, if it is more risky (or less), this symbol is adjusted by
    moving it up (or down) the scale. Actuarians call this process 
    "symboling". 
    A value of +3 indicates that the auto is risky, 
    -3 that it is probably pretty safe. 

The third factor is the relative average loss payment per insured 
ehicle year. This value is normalized for all autos within a particular 
size classification (two-door small, station wagons, sports/speciality, 
                     etc...), and represents the average loss per car 
per year. 

Note: Several of the attributes in the database could be used as a "class" 
    attribute.


Attribute Information:

Attribute: Attribute Range 

1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

# domain knowledge is key to categorical to numeric coversion

In [1]:
import pandas as pd
import numpy as np

In [2]:
location = r"F:\SimpliLearn\ML Certification Course\Helping Documents\DATASETS\auto-specs.csv"

In [3]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

In [4]:
# load the training data 
df_auto = pd.read_csv(location, header=None, names=headers, na_values="?" )
df_auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [12]:
# only focus on encoding the categorical variables, 
# we are going to include only the object columns in our dataframe. 
# Pandas has a helpful select_dtypes function which we can use to build a 
# new dataframe containing only the object columns.
df_auto.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

Pandas has a helpful __select_dtypes__ function which we can use to build a new dataframe containing only the object columns.

In [8]:
obj_df = df_auto.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [9]:
num_df = df_auto.select_dtypes(include=['number']).copy()
num_df.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [10]:
# there are a couple of null values in the data that we need to clean up.
obj_df.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [11]:
# there are a couple of null values in the data that we need to clean up.
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [28]:
# just fill in the value with the number 4 
# (since that is the most common value)

In [10]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [36]:
obj_df = obj_df.fillna({"num_doors": "four"})

### Approach 1 - Find and Replace *******************************************

- encoding
     - num_doors
     - num_cylinders

In [37]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

- create a __mapping dictionary__ that contains each column to process as well as a dictionary of the values to translate.

In [38]:
cleanup_nums = {"num_doors":     {"four": 4, 
                                  "two": 2},
                "num_cylinders": {"four": 4, 
                                  "six": 6, 
                                  "five": 5, 
                                  "eight": 8,
                                  "two": 2, 
                                  "twelve": 12, 
                                  "three":3 }}

In [39]:
obj_df.replace(cleanup_nums, inplace=True)
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [15]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

### Approach 2 - Label Encoding *******************************************

In [21]:
# body_style column contains 5 different values. 

# convertible -> 0
# hardtop -> 1
# hatchback -> 2
# sedan -> 3
# wagon -> 4

In [13]:
obj_df["body_style"].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [14]:
# check the data type for body_style (object)
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors          object
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders      object
fuel_system        object
dtype: object

- One trick you can use in pandas is to convert a column to a __category__, then use those category values for your label encoding:

In [15]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors            object
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders        object
fuel_system          object
dtype: object

assign the encoded variable to a new column using the __cat.codes__ accessor

In [16]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,0
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,0
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,3

In [17]:
obj_df['body_style_cat'].unique()

array([0, 2, 3, 4, 1], dtype=int64)

In [18]:
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors            object
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders        object
fuel_system          object
body_style_cat         int8
dtype: object

### Approach 3 - One Hot Encoding *******************************************

In [23]:
# Label encoding has the advantage that it is straightforward but it has the disadvantage that 
# the numeric values can be “misinterpreted” by the algorithms. 

# Pandas supports this feature using get_dummies. 
# This function is named this way because it creates dummy/indicator variables (aka 1 or 0).

In [19]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [21]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [20]:
pd.get_dummies(pd.Series(list('abcde')))

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1

In [22]:
pd.get_dummies(pd.Series(list('abcde')), drop_first=True)

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1

In [28]:
d = pd.get_dummies(pd.Series(list('ab')))
print(d.corr())
d = pd.get_dummies(pd.Series(list('abc')))
print(d.corr())
d = pd.get_dummies(pd.Series(list('abcd')))
print(d.corr())
d = pd.get_dummies(pd.Series(list('abcde')))
print(d.corr())

     a    b
a  1.0 -1.0
b -1.0  1.0
     a    b    c
a  1.0 -0.5 -0.5
b -0.5  1.0 -0.5
c -0.5 -0.5  1.0
          a         b         c         d
a  1.000000 -0.333333 -0.333333 -0.333333
b -0.333333  1.000000 -0.333333 -0.333333
c -0.333333 -0.333333  1.000000 -0.333333
d -0.333333 -0.333333 -0.333333  1.000000
      a     b     c     d     e
a  1.00 -0.25 -0.25 -0.25 -0.25
b -0.25  1.00 -0.25 -0.25 -0.25
c -0.25 -0.25  1.00 -0.25 -0.25
d -0.25 -0.25 -0.25  1.00 -0.25
e -0.25 -0.25 -0.25 -0.25  1.00

In [27]:
# look at the column drive_wheels where we have values of 4wd , fwd or rwd . 
# By using get_dummies we can convert this to 3 columns with a 1 or 0 
# corresponding to the correct value

In [29]:
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4,sedan,front,ohc,4,mpfi,3,0,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,1,0,0

In [33]:
# The new data set contains 3 new columns:

# drive_wheels_4wd
# drive_wheels_rwd
# drive_wheels_fwd

In [34]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,2,front,ohcv,6,mpfi,2,0,0,1,0,0,0,0,1
3,audi,gas,std,4,front,ohc,4,mpfi,3,0,0,0,1,0,0,1,0
4,audi,gas,std,4,front,ohc,5,mpfi,3,0,0,0,1,0,1,0,0

In [35]:
# column called engine_type that contains several different values:

obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [36]:
# whether or not the engine is an Overhead Cam (OHC) or not. In other words, the various versions 
# of OHC are all the same for this analysis.

In [39]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [41]:
obj_df["OHC_Code"].unique()

array([1, 0], dtype=int64)

In [42]:
obj_df[["make", "engine_type", "OHC_Code"]].head()

          make engine_type  OHC_Code
0  alfa-romero        dohc         1
1  alfa-romero        dohc         1
2  alfa-romero        ohcv         1
3         audi         ohc         1
4         audi         ohc         1

#### OHE has some significant shortcomings:

- OHE representation produces very high dimensionality, this causes an increase in the model’s training and serving time and memory consumption.

- OHE can easily cause a model to overfit the data.

- OHE can’t handle categories that weren’t in the training data (like new URLs, new device types etc), this can be problematic in domains that change all the time.

#### Using Scikit-Learn

In [23]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

In [24]:
obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
obj_df[["make", "make_code"]].head(11)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2