In [1]:
import matplotlib.pyplot as plt
import numpy as np
import math
import seaborn as sns
import pandas as pd
%matplotlib inline

import seaborn as sns
sns.set(style="white", color_codes=True)

import scipy.stats as stats
from scipy.stats import chi2_contingency

In [3]:
# Python version
import sys
print('Python: {}'.format(sys.version))
# scipy
import scipy
print('scipy: {}'.format(scipy.__version__))
# numpy
import numpy
print('numpy: {}'.format(numpy.__version__))
# matplotlib
import matplotlib
print('matplotlib: {}'.format(matplotlib.__version__))
# pandas
import pandas
print('pandas: {}'.format(pandas.__version__))

Python: 3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]
scipy: 1.1.0
numpy: 1.14.2
matplotlib: 2.1.2
pandas: 0.20.3

In [4]:
location = r"E:\MYLEARN\2-ANALYTICS-DataScience\datasets\titanic-train.csv"

In [5]:
df = pd.read_csv(location)

In [6]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
df['dummyCat'] = np.random.choice([0, 1], size=(len(df),), p=[0.5, 0.5])

In [8]:
# check for categorical features
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dummyCat         int32
dtype: object

In [9]:
cols = ['Embarked', 'Cabin', 'Pclass', 'Sex', 'SibSp', 'Parch', 'dummyCat']

for col in cols:
    print(col, df[col].unique())

Embarked ['S' 'C' 'Q' nan]
Cabin [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
Pclass [3 1 2]
Sex ['male' 'female']
SibSp [1 0 3 4 2 5 8]
Parch [0 1 2 5 3 4 6]
dummyCat [0 1]

Embarked , Pclass , Sex , dummyCat --> seem to be good features for analysis

In [10]:
alpha  = 0.05

for col in ['Embarked' , 'Pclass' , 'Sex' , 'dummyCat']:
    
    colX = col
    colY = "Survived"
    
    X = df[colX].astype(str)
    Y = df[colY].astype(str)

    dfObserved = pd.crosstab(Y, X) 
    
    chi2, p, dof, expected = stats.chi2_contingency(dfObserved.values)
    
    result = ""

    if p < alpha:
        result = "{:15s} {} is IMPORTANT for Prediction".format(colX, p)
    else:
        result = "{:15s} {} is NOT an important predictor. (Discard {} from model)".format(colX, p, colX)

    print(result)

Embarked        1.61871880094504e-06 is IMPORTANT for Prediction
Pclass          4.549251711298793e-23 is IMPORTANT for Prediction
Sex             1.1973570627755645e-58 is IMPORTANT for Prediction
dummyCat        0.03408126236573131 is IMPORTANT for Prediction